<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Psicóloga Joice S. Oliveira</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile.jpg" alt="Joice">
            <h1>Joice S. Oliveira</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.linkedin.com/in/joice-sousa-b98249180/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.instagram.com/conversaepsicologia/"  target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-file-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#especializacao"><i class="bi bi-book-half"></i> Especialiação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                  </li>
              </ul>

        </nav>


    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div id="nome-crp" class="col-md-12d-flex justify-content-start align-itens-start flex-column " >
                <h2  class="text-white text-shadow">Joice Sousa Oliveira</h2>
                <span id="subtitle" class="text-white text-shadow">CRP 123123-0</span>
            </div>
            <div class="col-md-12 d-flex align-items-end justify-content-end">
                <div id="mensagem" class="row justify-content-center ">
                    <p class="text-white fs-3 text-center"><i class="bi bi-quote"></i> A vida só pode ser compreendida olhando-se para trás, mas só pode ser vivida olhando-se para frente.</p>
                    <p class="text-white text-end">- Kierkegaard</p>
                </div>
            </div>
        </section> 

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.</p>
                </div>
                <div class="row mt-4">
                    <div class="col-md-5">
                        <img class="img-fluid shadow" src="../static/img/about.png" alt="Foto de perfil">
                    </div>
                    <div class="col-md-7 mt-4">
                        <ul class="list-group list-group-flush fw-bold">
                            <li class="list-group-item">
                                Formação: <span class="fw-lighter">Bacharel em Psicologia na UNIP Ribeirão Preto - 2019</span>
                            </li>
                            <li class="list-group-item">
                                Pós Graduação: <span class="fw-lighter">Metodo ABA não sei onde</span>
                            </li>
                            <li class="list-group-item">
                                Experiência: <span class="fw-lighter">Exemplo</span>
                            </li>
                            <li class="list-group-item">
                                Formação: <span class="fw-lighter">Bacharel em Psicologia na UNIP Ribeirão Preto - 2019</span>
                            </li>
                            <li class="list-group-item">
                                Pós Graduação: <span class="fw-light">Metodo ABA não sei onde</span>
                            </li>
                            <li class="list-group-item">
                                Experiência: <span class="fw-lighter">Exemplo</span>
                            </li>
                        </ul>                       
                    </div>
                </div>
            </div>
        </section>

        <section id="especializacao" class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h2>Especialiação</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Terapia</h5>
                            <p>Terapia presencial ou remota</p>
                            <h5>Terapia</h5>
                            <p>Terapia presencial ou remota</p>
                        </div>
                        <div class="col-md-6">
                            <h5>Terapia</h5>
                            <p>Terapia presencial ou remota</p>
                            <h5>Terapia</h5>
                            <p>Terapia presencial ou remota</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>